*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-image: url(image/bac.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
  align-items: center;
  background: transparent;
}
header img{
  width: 75px;
  height: auto;
}
#menu_icon{
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.navlist{
  display: flex;
  align-items: center;
}
.navlist li{
  position: relative;
}
.navlist a{
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
}
.navlist a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  bottom: -3px;
  left: 0;
  transition: ease-in-out .5s;
}
.navlist a:hover::after{
  width: 100%;
}
.nav_icon{
  display: flex;
}
.nav_icon a{
  display: inline-block;
  color: #fff;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav_icon a:hover{
  transform: scale(1.3);
  transition: .8s;
  color: #8e2424;
}
section{
  padding: 0 10%;
}
.container{
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  color: white;
}
.text h4{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.text h1{
  text-transform: uppercase;
  font-size: 75px;
  margin-bottom: 15px;
}
.text p{
  text-transform: capitalize;
  margin-bottom: 40px;
  font-size: 16px;
}
.text .btn{
  border: 2px solid #17112D;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 17px;
  background: #17112D;
  transition: .5s;
  cursor: pointer;
}
.text .btn:hover{
  transform: scale(1.1) translateY(-5px);
}
.social{
  position: absolute;
  left: 10%;
  bottom: 7%;
}
.social i{
  width: 40px;
  height: 40px;
  background-color: #17112D;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  margin-right: 20px;
}
.social i:hover{
  transform: scale(1.1) translateY(-5px);
  transition: .5s ease;
  background-color: #fff;
  color: #17112D;
}